html {
    font-family: sans-serif;   
  }
  
  body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    margin: auto;
    padding: 10px
  }
  p{
    font-weight: 500;
    text-align: left;
  }
   
  table{

  }

  th{
    
  }
  tr{

  }
  td{
    
  }

  .containner {
      width: 50%;
      height: 25;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  img{
    border: 0;
  }
  
  